header, nav, section, footer, aside{
  background-color: grey;
  margin-top: 10px;
  height: 75px;
}

main{
  display: flex;
}

nav{
  width: 20%;
  margin-right: 10px;
}

section{
  width: 60%;
  margin-right: 10px;
}

aside{
  width: 20%;
}
