p::first-letter {
  font-size: 200%;
  color: red;
}
p::first-line {
  font-style: italic;
  font-family: іуfantasy;
}

a:link {
  color: blue;
}

a:visited {
  color: orange;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}
