.container{
  width: 700px;
  margin: 0 auto;
}

body{
  background-color: #0F3B50;
}

main{
  background-color: white;
  display: flex;
justify-content: space-between;
  height: 100%;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
}

header .text{
  color: white;
  font-size: 2em;
}
header img{
height: 50px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav a{
  color: white;
}

ul.icon{
  list-style-type: none;
}

#fio {
 font-weight: bolder;
 text-align: left;
 font-size: 30em;
}

h2 {
font-weight: bold;
}

.info{
  font-weight: bold;
}

.container2{
  display:  flex;
}
